// COLORS
$color-primary-light:#10ac84;
$color-primary-medium:#189c7c;
$color-primary-dark:#218c74;

$color-secondary-light: #fdcb6e;
// $color-secondary-dark: #ff9f43;




$color-logo: #f9f7f6b0;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;



$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #636e72;


//FONT
$font-main: 'Comfortaa', cursive;
$font-secondary: 'M PLUS Rounded 1c', sans-serif;

$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//ANIMATIONS
$sticky-content-animation:  fadeIn 3.5s cubic-bezier(.79,.27,.51,.82);

//Responsive
$bp-largest: 105em; //1680 px 
$bp-large: 92.5em; //1480 px



