a{

    &:link,
    &:hover,
    &:visited,
    &:active{
        text-decoration: none;
    }
}

body {
    font-family: $font-main;
}

h2 {
    font-size: 3rem;
    font-weight: 400;
}

.heading--text {
    font-size: 1.3rem;
    line-height: 150%;
    color: $color-grey-dark-2;
}

h3 {
    font-size: 2rem;
    font-weight: 300;
    color: $color-primary-light;
}

